@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-primary: #1d4ed8;
  --color-secondary: #4f46e5;
  --color-accent: #059669;
  --color-darkbg: #0f172a;
}

body {
  font-family: var(--font-sans);
}
